.row{   
    display:flex;
    justify-content:center;
    justify-content:space-around;
    background-color:#47477E	;
    color:white;
    font-size:20px;
    font-family: 'Playfair Display', serif;

}


.link{
        text-decoration:none;
        color:#f0ead4;
        text-shadow: 2px 3px black;
}
.headshot{
    width:20%;
   
}
.mid{
    background-color:#EDFEED;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
    font-family: 'Cinzel', serif;
    
}

.topBox{
    display:flex;
    justify-content:center;
    justify-content:space-around;
    border:1px solid black; 
    
}

h1{
    text-align:center;
    text-shadow: 0 0 6px blue;
}
